/*
display prop types: https://www.w3schools.com/cssref/pr_class_display.php
*/

.menu-container-radio {
    padding: 0px 40px;
}
.menu-radio-label-name {
    margin-bottom: 0px;
}
.menu-radio-date-range {
    margin-bottom: 16px;
    font-size:75%;
}
.menu-section-title {
    font-weight:500;
    font-size:150%;
    line-height:100%;
}
.menu-dropdown-button {
    width:85%;
    padding:10px 20px;
    margin:0px 20px;
    background-color:#0d6efd;
    color:white;
}
#menu_radio_container {
    padding:0px 20px;
}
#sidebar_menu {
    background-color:#e9ecef;
    overflow-x:hidden;
}
#sidebar_menu > .offcanvas-body {
    background-color:#e9ecef;
    overflow-x:hidden;
}
.menu-dropdown-label {
    margin-bottom:0px;
    margin:0px 20px;
}
.menu-dropdown-items {
    max-height:200px;
    overflow-y:scroll;
}
.menu-container-numform {
    width:85%;
    margin:0px 20px;
}
.menu-numform-label {
    width:100px;
}
#buffer_date_range {
    margin: 0px;
    padding:6px 10px;
    width:100%;
}
#menu_submit_button {
    color:white;
    font-weight:bold;
    font-size:1.2em;
    width:80%;
    padding:10px 10px;
    margin:10px 10px;
}
body {
    background-image:url("images/background-reduced.png");
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    /*background-color:#0d3861;*/
    background-color: black;
}

#main_col_header {
    background-color:#e9ecef;
}
#main_col_buffer {
    background-color:#e9ecef;
}
#main_header_text {
    font-size:1.2em;
    margin: 0px;
}
/*
#main_img {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
*/
#main_svg {
    /*cursor:url(images/crosshair-small.png) 16 16, auto;*/
    cursor:url(images/crosshair-xsmall-2.png) 8 8, auto;
    z-index:10;
}
#display_wrapper_outer {
    position: relative;
}
#main_container_ticker {
    max-height:150px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.buffer-ticker {
    width:15px;
    height:15px;
    margin:1px 1px;
}
.buffer-ticker-inactive { background:rgb(255, 255, 255); }
.buffer-ticker-disabled { background:rgb(52, 51, 51); }
.buffer-ticker-active { background:#0d6efd; }
.buffer-button {
    background-color:#0d6efd;
    height:40px;
    color:white;
}
.buffer-fa-span {
    color: #ffffff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    vertical-align:middle;
}
#buffer_label_framedelay {
    margin: 0px 10px;
    align-items: center;
    display:flex;
}
#buffer_input_framedelay {
    max-width:250px;
    min-width:150px;
    margin: 10px 10px;
}
#buffer_container_daterange {
    margin: 10px;
    padding: 0px;
}

/* resources available remotely thru bootstrap, but can't be included */
.form-check-input:checked[type="radio"] {
    background-image: url(images/bg-radio.svg);
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(images/dropdown-lines.svg);
}
.btn-close {
    background: transparent url("images/offcanvas-close.svg") center/1em auto no-repeat;
}

#main_canvas {
    width:100%;
    height:100%;
    /*position:absolute;*/
    top:0px;
    left:0px;
    z-index:9;
}
canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF    */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                 */
    image-rendering: -webkit-optimize-contrast; /* Safari                  */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera    */
    image-rendering: pixelated;                 /* Awesome future-browsers */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                      */
  }

  #tooltip_container_inner {
      opacity:1;
      background-color:white;
      border:solid;
      border-width:2px;
      border-radius:6px;
      padding:12px 6px 6px 6px;
  }
  .tooltip-text {
      margin: 0px;
      font-size:75%;
  }
  #tooltip_button_close {
      position:absolute;
      top:2px;
      right:5px;
      font-size:10px;
      font-weight:bold;
      text-decoration:none;
      color:black;
  }
  #tooltip_button_close:hover { color:orange; }
  #tooltip_button_timeseries {
      background-color:#0d6efd;
      width:100%;
      color:white;
      margin-top:5px;
  }
